HISTRA_DATABASE_URL=postgresql+psycopg://histra:histra@db:5432/histra
HISTRA_TEMPLATE_ROOT=/data/templates
HISTRA_PACKAGE_CACHE_ROOT=/tmp/histra-packages
HISTRA_API_TOKEN=change-me
HISTRA_LEASE_SECONDS=900
HISTRA_PACKAGE_TTL_SECONDS=3600
HISTRA_DEFAULT_MAX_ATTEMPTS=3
