POSTGRES_DB=histra
POSTGRES_USER=histra
POSTGRES_PASSWORD=replace-with-a-long-random-password

HISTRA_SERVER_IMAGE=ghcr.io/mbonatte/histra-job-server:1.1.0
HISTRA_API_TOKEN=replace-with-a-long-random-token
HISTRA_LEASE_SECONDS=900
HISTRA_PACKAGE_TTL_SECONDS=3600
HISTRA_DEFAULT_MAX_ATTEMPTS=3

HISTRA_DASHBOARD_ENABLED=true
HISTRA_BUILDER_UI_ENABLED=true
HISTRA_RUNNER_ONLINE_SECONDS=300
HISTRA_MAX_HRX_UPLOAD_BYTES=104857600
HISTRA_UI_REFRESH_SECONDS=5
